@font-face {
  font-family: 'montserrat-regular';
  src: url(fonts/montserrat-regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'montserrat-regular';
  font-size: 13px;
  background-image: url(images/bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}


h1 {
  color: #515076;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 110px;
}

.product-card {
  background-color: #F7F7FA;
  width: 340px;
  height: 573px;
  ;
  padding: 5px;
}

.product-card__photo {
  justify-content: center;
  margin: 20px;
}

.product-card__category {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 24px;
  color: #A5A3B9;
  font-weight: 400;
}

.product-card__title {
  color: #515076;
  font-size: 20px;
  line-height: 27px;

}

ul {
  list-style: circle;
  padding-left: 15px;
}

.product-card__regular-text {
  font-size: 15px;
  line-height: 18px;
  color: #515076;
}

b {
  color: #515076;
  font-size: 20px;
  line-height: 24px;
}

.product-card__price {
  display: flex;
  justify-content: space-between;

}

.product-card__description-block {
  margin: 25px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 45px;
  max-width: 1400px;
  margin: 0 auto;
}